In [1]:
import pandas as pd
import encodings

In [2]:
#I choose a encoding present in the file
aliases_values = set(encodings.aliases.aliases.values())
for encoding in set(encodings.aliases.aliases.values()):
    try:
        df = pd.read_csv(r"goodreads_library.csv", nrows=10,
                         encoding=encoding)
        # print("successful", encoding)
    except:
        pass

In [3]:
df_books = pd.read_csv(r"goodreads_library.csv",
                       encoding="ISO-8859-9", sep=',', engine="python")
df_books

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,156976346,L'Immortale,Catherynne M. Valente,"Valente, Catherynne M.",NaN,"=""""","=""""",0,3.97,Fazi Editore,...,NaN,2023/08/19,to-read,to-read (#479),to-read,NaN,NaN,NaN,0,0
1,58690308,Book Lovers,Emily Henry,"Henry, Emily",NaN,"=""""","=""""",0,4.17,Berkley,...,NaN,2023/04/18,currently-reading,currently-reading (#4),currently-reading,NaN,NaN,NaN,1,0
2,66087070,Suddenly a Murder,Lauren MuÃ±oz,"MuÃ±oz, Lauren",NaN,"=""0593617533""","=""9780593617533""",0,3.96,G.P. Putnam's Sons Books for Young Readers,...,NaN,2023/08/19,to-read,to-read (#478),to-read,NaN,NaN,NaN,0,0
3,157062582,"The Mystery Guest (Molly the Maid, #2)",Nita Prose,"Prose, Nita",NaN,"=""0593356187""","=""9780593356180""",0,4.11,Ballantine Books,...,NaN,2023/08/19,to-read,to-read (#477),to-read,NaN,NaN,NaN,0,0
4,75293475,"The Last Devil to Die (Thursday Murder Club, #4)",Richard Osman,"Osman, Richard",NaN,"=""0593299426""","=""9780593299425""",0,4.50,Pamela Dorman Books,...,NaN,2023/08/19,to-read,to-read (#476),to-read,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,41865,"Twilight (The Twilight Saga, #1)",Stephenie Meyer,"Meyer, Stephenie",NaN,"=""0316015849""","=""9780316015844""",2,3.64,"Little, Brown and Company",...,NaN,2018/06/18,NaN,NaN,read,NaN,NaN,NaN,1,0
839,11870085,The Fault in Our Stars,John Green,"Green, John",NaN,"=""""","=""""",2,4.14,Dutton Books,...,NaN,2018/06/18,NaN,NaN,read,NaN,NaN,NaN,1,0
840,13362536,"Opal (Lux, #3)",Jennifer L. Armentrout,"Armentrout, Jennifer L.",NaN,"=""1620610094""","=""9781620610091""",1,4.25,Entangled Teen,...,NaN,2018/06/18,NaN,NaN,read,NaN,NaN,NaN,1,0
841,13335037,"Divergent (Divergent, #1)",Veronica Roth,"Roth, Veronica",NaN,"=""0062024035""","=""9780062024039""",3,4.15,Katherine Tegen Books,...,NaN,2018/06/18,NaN,NaN,read,NaN,NaN,NaN,1,0
842,2767052,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"Collins, Suzanne",NaN,"=""""","=""""",4,4.33,Scholastic Press,...,NaN,2018/06/18,NaN,NaN,read,NaN,NaN,NaN,1,0

In [4]:
#Main column: books' titles
if(df_books['Title'].isnull().sum()==0):
    print('All the titles are present')
else:
    print('Not all the titles are present')

All the titles are present

In [5]:
#Main column: books' authors
if(df_books['Author'].isnull().sum()==0):
    print('All the authors are present')
else:
    print('Not all the authors are present')

All the authors are present

In [6]:
#Main column: books' average ratings
if(df_books['Average Rating'].isnull().sum()==0):
    print('All the books have a rate')
else:
    print('Not all the books have a rate')

All the books have a rate

In [7]:
#Main column: books' ID
if(df_books['Book Id'].isnull().sum()==0):
    print('All the books have a ID')
else:
    print('Not all the books have a ID')

All the books have a ID

In [8]:
#Check if the 'My Rate' and 'Average Rate' columns have non valid values (x<0 or x>5)
df_books.loc[df_books['My Rating'] == 0]

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,156976346,L'Immortale,Catherynne M. Valente,"Valente, Catherynne M.",NaN,"=""""","=""""",0,3.97,Fazi Editore,...,NaN,2023/08/19,to-read,to-read (#479),to-read,NaN,NaN,NaN,0,0
1,58690308,Book Lovers,Emily Henry,"Henry, Emily",NaN,"=""""","=""""",0,4.17,Berkley,...,NaN,2023/04/18,currently-reading,currently-reading (#4),currently-reading,NaN,NaN,NaN,1,0
2,66087070,Suddenly a Murder,Lauren MuÃ±oz,"MuÃ±oz, Lauren",NaN,"=""0593617533""","=""9780593617533""",0,3.96,G.P. Putnam's Sons Books for Young Readers,...,NaN,2023/08/19,to-read,to-read (#478),to-read,NaN,NaN,NaN,0,0
3,157062582,"The Mystery Guest (Molly the Maid, #2)",Nita Prose,"Prose, Nita",NaN,"=""0593356187""","=""9780593356180""",0,4.11,Ballantine Books,...,NaN,2023/08/19,to-read,to-read (#477),to-read,NaN,NaN,NaN,0,0
4,75293475,"The Last Devil to Die (Thursday Murder Club, #4)",Richard Osman,"Osman, Richard",NaN,"=""0593299426""","=""9780593299425""",0,4.50,Pamela Dorman Books,...,NaN,2023/08/19,to-read,to-read (#476),to-read,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,6,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,"Rowling, J.K.","Mary GrandPrÃ©, Jim Kay","=""""","=""""",0,4.56,Scholastic,...,NaN,2019/08/23,NaN,NaN,read,NaN,NaN,NaN,1,0
758,136251,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,"Rowling, J.K.",NaN,"=""""","=""""",0,4.62,Arthur A. Levine Books,...,NaN,2019/08/23,NaN,NaN,read,NaN,NaN,NaN,1,0
759,18135,Romeo and Juliet,William Shakespeare,"Shakespeare, William",NaN,"=""""","=""""",0,3.74,Washington Square Press,...,NaN,2019/08/23,NaN,NaN,read,NaN,NaN,NaN,1,0
773,3636,"The Giver (The Giver, #1)",Lois Lowry,"Lowry, Lois",NaN,"=""0385732554""","=""9780385732550""",0,4.12,Ember,...,NaN,2019/08/23,NaN,NaN,read,NaN,NaN,NaN,1,0
779,6148028,"Catching Fire (The Hunger Games, #2)",Suzanne Collins,"Collins, Suzanne",NaN,"=""0439023491""","=""9780439023498""",0,4.31,Scholastic Press,...,NaN,2018/12/09,NaN,NaN,read,NaN,NaN,NaN,1,0

In [9]:
#Drop not useful columns
to_drop = ['ISBN13', 'Binding', 'Spoiler', 'Private Notes', 'Owned Copies']
df_books.drop(to_drop, inplace=True, axis=1)

In [10]:
df_books

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,My Rating,Average Rating,Publisher,Number of Pages,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Read Count
0,156976346,L'Immortale,Catherynne M. Valente,"Valente, Catherynne M.",NaN,"=""""",0,3.97,Fazi Editore,346.0,2023.0,2011.0,NaN,2023/08/19,to-read,to-read (#479),to-read,NaN,0
1,58690308,Book Lovers,Emily Henry,"Henry, Emily",NaN,"=""""",0,4.17,Berkley,377.0,2022.0,2022.0,NaN,2023/04/18,currently-reading,currently-reading (#4),currently-reading,NaN,1
2,66087070,Suddenly a Murder,Lauren MuÃ±oz,"MuÃ±oz, Lauren",NaN,"=""0593617533""",0,3.96,G.P. Putnam's Sons Books for Young Readers,320.0,2023.0,2023.0,NaN,2023/08/19,to-read,to-read (#478),to-read,NaN,0
3,157062582,"The Mystery Guest (Molly the Maid, #2)",Nita Prose,"Prose, Nita",NaN,"=""0593356187""",0,4.11,Ballantine Books,304.0,2023.0,2023.0,NaN,2023/08/19,to-read,to-read (#477),to-read,NaN,0
4,75293475,"The Last Devil to Die (Thursday Murder Club, #4)",Richard Osman,"Osman, Richard",NaN,"=""0593299426""",0,4.50,Pamela Dorman Books,368.0,2023.0,2023.0,NaN,2023/08/19,to-read,to-read (#476),to-read,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,41865,"Twilight (The Twilight Saga, #1)",Stephenie Meyer,"Meyer, Stephenie",NaN,"=""0316015849""",2,3.64,"Little, Brown and Company",498.0,2006.0,2005.0,NaN,2018/06/18,NaN,NaN,read,NaN,1
839,11870085,The Fault in Our Stars,John Green,"Green, John",NaN,"=""""",2,4.14,Dutton Books,313.0,2012.0,2012.0,NaN,2018/06/18,NaN,NaN,read,NaN,1
840,13362536,"Opal (Lux, #3)",Jennifer L. Armentrout,"Armentrout, Jennifer L.",NaN,"=""1620610094""",1,4.25,Entangled Teen,394.0,2012.0,2012.0,NaN,2018/06/18,NaN,NaN,read,NaN,1
841,13335037,"Divergent (Divergent, #1)",Veronica Roth,"Roth, Veronica",NaN,"=""0062024035""",3,4.15,Katherine Tegen Books,487.0,2012.0,2011.0,NaN,2018/06/18,NaN,NaN,read,NaN,1
842,2767052,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"Collins, Suzanne",NaN,"=""""",4,4.33,Scholastic Press,374.0,2008.0,2008.0,NaN,2018/06/18,NaN,NaN,read,NaN,1

In [11]:
#Additional Author is a valuable column?
if(df_books['Additional Authors'].isnull().sum()==843):
    print('No additiona Authors')
else:
    print('Some additional authors are present')

Some additional authors are present

In [12]:
#How many "Additional Authors we have
df_books['Additional Authors'].isnull().sum()

602

In [13]:
#Check the additional authors
df_books.loc[df_books['Additional Authors'].notna()]

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,My Rating,Average Rating,Publisher,Number of Pages,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Read Count
27,3264497,Orgoglio e pregiudizio,Jane Austen,"Austen, Jane","Giulio Caprin, W. Somerset Maugham","=""""",4,4.28,Mondadori,390.0,2002.0,1813.0,2023/08/19,2023/08/15,NaN,NaN,read,"Nonostante abbia 210 anni, Orgoglio e Pregiudi...",1
30,28169059,"Intestino, secondo cervello: Le rivoluzionarie...",Miguel Ãngel AlmodÃ³var,"AlmodÃ³var, Miguel Ãngel",Nicola Jacchia,"=""""",5,3.81,Vallardi,221.0,2015.0,2014.0,2021/09/04,2020/11/28,"comprati, ebook, medicina, saggi, scienza, rea...","comprati (#56), ebook (#39), medicina (#5), sa...",read-2021,NaN,1
32,58990922,Fiori di stagione,Emmanuelle Kecir-Lepetit,"Kecir-Lepetit, Emmanuelle","Lea Maupetit, Vera Verdiani","=""""",0,4.33,Ippocampo edizioni,96.0,2021.0,NaN,NaN,2023/07/04,to-read,to-read (#451),to-read,NaN,0
33,58990941,Alberi di qui e d'altrove,Emmanuelle Kecir-Lepetit,"Kecir-Lepetit, Emmanuelle","Lea Maupetit, Vera Verdiani","=""886722607X""",0,4.50,Ippocampo edizioni,96.0,2021.0,NaN,NaN,2023/07/04,to-read,to-read (#450),to-read,NaN,0
47,18795453,IO Sono Piccola?,Philipp Winterberg,"Winterberg, Philipp",Nadja Wichmann,"=""1493514121""",4,4.17,CreateSpace Independent Publishing Platform,40.0,2013.0,NaN,2018/08/15,2018/08/14,NaN,NaN,read,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,10165178,La lega degli uomini spaventati,Rex Stout,"Stout, Rex",Alfredo Pitta,"=""8804512857""",2,4.08,Arnoldo Mondadori,191.0,2004.0,1935.0,2018/08/15,2018/08/15,NaN,NaN,read,NaN,1
815,27408440,L'ottava moglie di mister G,Elizabeth Ferrars,"Ferrars, Elizabeth",Lina Rolli,"=""""",2,3.14,Mondadori,170.0,1973.0,1991.0,2018/08/15,2018/08/15,NaN,NaN,read,NaN,1
817,25140407,Un lungo fatale ultimo addio,Raffaella V. Poggi,"Poggi, Raffaella V.",VeloNero,"=""""",3,3.68,Newton Compton Editori,288.0,2015.0,2014.0,2018/08/15,2018/08/15,NaN,NaN,read,NaN,1
821,25538992,Una spola di filo blu,Anne Tyler,"Tyler, Anne",Laura Pignatti,"=""8823510996""",3,3.43,Guanda,400.0,2015.0,2015.0,2018/08/15,2018/08/15,NaN,NaN,read,NaN,2
822,9717888,La lotteria,Shirley Jackson,"Jackson, Shirley",Franco Salvatorelli,"=""8845921840""",3,4.06,Adelphi,82.0,2007.0,1948.0,2018/08/15,2018/08/15,NaN,NaN,read,NaN,2

In [14]:
#Drop the "Author" column instead of "Author l-f"
if(df_books['Author l-f'].isnull().sum()==0):
    print('All the authors last name - first name are present')
    df_books.drop('Author', inplace=True, axis=1)
    print('I dropped the <Author> column')
else:
    print('Not all the authors last name - first name are present')

All the authors last name - first name are present
I dropped the <Author> column

In [15]:
df_books

,Book Id,Title,Author l-f,Additional Authors,ISBN,My Rating,Average Rating,Publisher,Number of Pages,Year Published,Original Publication Year,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Read Count
0,156976346,L'Immortale,"Valente, Catherynne M.",NaN,"=""""",0,3.97,Fazi Editore,346.0,2023.0,2011.0,NaN,2023/08/19,to-read,to-read (#479),to-read,NaN,0
1,58690308,Book Lovers,"Henry, Emily",NaN,"=""""",0,4.17,Berkley,377.0,2022.0,2022.0,NaN,2023/04/18,currently-reading,currently-reading (#4),currently-reading,NaN,1
2,66087070,Suddenly a Murder,"MuÃ±oz, Lauren",NaN,"=""0593617533""",0,3.96,G.P. Putnam's Sons Books for Young Readers,320.0,2023.0,2023.0,NaN,2023/08/19,to-read,to-read (#478),to-read,NaN,0
3,157062582,"The Mystery Guest (Molly the Maid, #2)","Prose, Nita",NaN,"=""0593356187""",0,4.11,Ballantine Books,304.0,2023.0,2023.0,NaN,2023/08/19,to-read,to-read (#477),to-read,NaN,0
4,75293475,"The Last Devil to Die (Thursday Murder Club, #4)","Osman, Richard",NaN,"=""0593299426""",0,4.50,Pamela Dorman Books,368.0,2023.0,2023.0,NaN,2023/08/19,to-read,to-read (#476),to-read,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,41865,"Twilight (The Twilight Saga, #1)","Meyer, Stephenie",NaN,"=""0316015849""",2,3.64,"Little, Brown and Company",498.0,2006.0,2005.0,NaN,2018/06/18,NaN,NaN,read,NaN,1
839,11870085,The Fault in Our Stars,"Green, John",NaN,"=""""",2,4.14,Dutton Books,313.0,2012.0,2012.0,NaN,2018/06/18,NaN,NaN,read,NaN,1
840,13362536,"Opal (Lux, #3)","Armentrout, Jennifer L.",NaN,"=""1620610094""",1,4.25,Entangled Teen,394.0,2012.0,2012.0,NaN,2018/06/18,NaN,NaN,read,NaN,1
841,13335037,"Divergent (Divergent, #1)","Roth, Veronica",NaN,"=""0062024035""",3,4.15,Katherine Tegen Books,487.0,2012.0,2011.0,NaN,2018/06/18,NaN,NaN,read,NaN,1
842,2767052,"The Hunger Games (The Hunger Games, #1)","Collins, Suzanne",NaN,"=""""",4,4.33,Scholastic Press,374.0,2008.0,2008.0,NaN,2018/06/18,NaN,NaN,read,NaN,1

In [16]:
#Display info about df
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843 entries, 0 to 842
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Book Id                     843 non-null    int64
 1   Title                       843 non-null    object
 2   Author l-f                  843 non-null    object
 3   Additional Authors          241 non-null    object
 4   ISBN                        843 non-null    object
 5   My Rating                   843 non-null    int64
 6   Average Rating              843 non-null    float64
 7   Publisher                   831 non-null    object
 8   Number of Pages             828 non-null    float64
 9   Year Published              841 non-null    float64
 10  Original Publication Year   752 non-null    float64
 11  Date Read                   230 non-null    object
 12  Date Added                  843 non-null    object
 13  Bookshelves                 643 non-null    object
 14  Bookshelves with positions  643 non-null    object
 15  Exclusive Shelf             843 non-null    object
 16  My Review                   28 non-null     object
 17  Read Count                  843 non-null    int64
dtypes: float64(4), int64(3), object(11)
memory usage: 118.7+ KB

In [17]:
#We have to change float64 type for columns "Number of Pages" (int64), "Year published" (date) and "Original Publication Year" (date)
# NUMBER OF PAGES
print("Number of pages_ CLEANING")
#First, we can see that the columns has null values
nan_pages = df_books["Number of Pages"].isnull().sum()
print("Before the cleaning: Number of samples without a value: ", nan_pages)
#15 values are null
#I show the rows to see the data
df_books.loc[df_books["Number of Pages"].isnull()]
#I didn't find the number of pages of two rows, so I decided to add the mean number of pages.
mean_pages = int(df_books["Number of Pages"].mean())
#I replace the NaN values with the mean fo the column
df_books["Number of Pages"].fillna(mean_pages, inplace=True)
nan_pages_after = df_books["Number of Pages"].isnull().sum()
print("After the cleaning: Number of samples without a value: ", nan_pages_after)
df_books["Number of Pages"] = df_books["Number of Pages"].astype("int64", copy=False)

Number of pages_ CLEANING
Before the cleaning: Number of samples without a value:  15
After the cleaning: Number of samples without a value:  0

In [18]:
#YEAR PUBLISHED AND ORIGINAL PUBLICATION YEAR
# being year only, we treat them like a int
df_books.loc[df_books["Year Published"].isnull()]
#Only two: I add the right year of publishing
df_books.loc[290, "Year Published"] = 2009
df_books.loc[740, "Year Published"] = 1985
#I can't know easyly what the original publication year is for these books, so I put the value to 0
df_books["Original Publication Year"].fillna(0, inplace=True)
nan_pub_year_after = df_books["Original Publication Year"].isnull().sum()
#Print
print("After the cleaning: Number of samples without a value: ", nan_pub_year_after)
nan_real_pub_year_after = df_books["Original Publication Year"].isnull().sum()
print("After the cleaning: Number of samples without a value: ", nan_real_pub_year_after)

After the cleaning: Number of samples without a value:  0
After the cleaning: Number of samples without a value:  0

In [19]:
#We change the type of the columns FLOAT --> INT
df_books["Year Published"] = df_books["Year Published"].astype("int64", copy=False)
df_books["Original Publication Year"] = df_books["Original Publication Year"].astype("int64", copy=False)

In [20]:
df_books.dtypes

Book Id                         int64
Title                          object
Author l-f                     object
Additional Authors             object
ISBN                           object
My Rating                       int64
Average Rating                float64
Publisher                      object
Number of Pages                 int64
Year Published                  int64
Original Publication Year       int64
Date Read                      object
Date Added                     object
Bookshelves                    object
Bookshelves with positions     object
Exclusive Shelf                object
My Review                      object
Read Count                      int64
dtype: object